<div class="row">
    <div class="col-md-5">
        <div class="row">
            <div class="col-md-12">
                <cms-contact-list (selectedContactEvent)="selectedContactEvent = $event" ></cms-contact-list>
            </div>
            <div class="col-md-12">
                
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <cms-contact-detail *ngIf="selectedContactEvent != null && selectedContactEvent != undefined" [contact]="selectedContactEvent"></cms-contact-detail>
    </div>
</div>